
.directory-contact {
  padding: 15px 10px 15px 10px;
  cursor: pointer;
  border-top: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
}

.directory-contact .data {
  text-decoration: none;
}


.directory-contact-content {
  flex-grow: 1;
  padding: 0 0px;
  color: black;
  text-align: left;
}
.directory-contact:hover{
  background-color: #e6e6e6;
  border: 1px solid #c3002f;
}

.directory-contact-date {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 6px;
  color: black;
}

.directory-contact-date .month {
  font-size: 14px;
}
.delete-btn {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url(../../assets/icon-delete.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  flex-shrink: 0;
}

.delete-btn:hover {
  background-image: url(../../assets/icon-delete.png);
  cursor: grabbing;
}
