#new-contact{
  margin: auto;
  text-align: center;
  height: 100%;
  width: 500px;
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}
input {
  padding: 8px;
  background: transparent;
}

input:hover {
  color: #c3002f;
}
input::placeholder {
  text-align: center;
}

#add-btn {
  padding-left: 20px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  margin-top: 20px;
  margin-bottom: 30px;
}

#add-btn:hover {
  color: #c3002f;
}
